{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>Guam Biodiversity Inventory</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  <div class="jumbotron">
    <h1>Guam Biodiversity Inventory</h1>
  </div>

<h2>Taxonomy</h2>
<ul>
  <li><a href="taxonomy/show">Show tree</a></li>
  <li><a href="taxonomy/add">Add Taxon</a></li>
  <li><a href="admin/taxonomy/taxon">Manage Taxonomy (Admin)</a></li>
</ul>

<h2>Publications</h2>
<ul>
  <li><a href="publications">Show list</a></li>
  <li><a href="admin/publications/publication">Manage Publications (Admin)</a></li>
</ul>

<h2>Locations</h2>
<ul>
  <li><a href="admin/locations/location">Manage Locations(Admin)</a></li>
</ul>

<h2>New Island Records</h2>
<ul>
  <li><a href="admin/newislandrecords/newislandrecord">Manage New Island Records (Admin)</a></li>
</ul>

</body>
</html>
